@page "/{day:int?}"
@page "/Home/{day:int?}"
@using Microsoft.AspNetCore.OutputCaching
@attribute [OutputCache(Duration = 5)]

@inject ILogger<Home> Logger
<PageTitle>Home</PageTitle>

<h1 class="mb-4">My Conference @System.DateTime.Now.Year</h1>

<Agenda CurrentDayOffset="Day" GetMyAgenda="false" />

@code {
    [Parameter] public int Day { get; set; }
}