@inherits LayoutComponentBase

@* <div class="page">
    <NavMenu />

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
 *@

<NavMenu />

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - My Conference
    </div>
</footer>