@page "/MyAgenda/{day:int?}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@inject ILogger<Home> Logger
<h1 class="mb-4">My Agenda - My Conference @System.DateTime.Now.Year</h1>


<Agenda CurrentDayOffset="Day" GetMyAgenda="true" />


@code {
    public bool IsAdmin { get; set; }

    [Parameter] public int Day { get; set; }
}
